.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 90vh;
}

.content div {
  margin: auto 2rem auto 2rem;
}

.contentTitleDiv {
  text-align: right;
}

.contentProductsDiv {
  text-align: left;
}
