nav {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  background-color: rgb(42, 45, 46);
  color: white;
  justify-content: space-around;
  align-items: center;
}

.nav-links {
  width: 50%;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
}

.nav-links li {
  color: white;
}

.nav-links li:hover {
  color: lightcoral;
}
