html {
  background-color: gray;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: white;
  font-size: 1em;
  font-weight: 500;
  background-image: url("./images/background.jpg");
  background-size: cover;
  background-position: center;
}

body {
  margin: 0;
  height: 100vh;
}

#container {
  width: 92.5vw;
  height: 92.5vh;
  padding: 3.75vh 3.75vw 3.75vh 3.75vw;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

@media (max-width: 850px) {
  #container {
    padding: 0;
    height: 98vh;
    margin-bottom: 2vh;
    width: 100vw;
  }
}

@media (max-width: 850px) {
  #container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    text-align: center;
    padding: 0;
  }
}

#weatherInfo {
  grid-column-start: 1;
  grid-row-start: 1;
  margin-top: 15%;
  margin-left: 15%;
  color: white;
}

@media (max-width: 850px) {
  #weatherInfo {
    margin: 0;
  }
}

#weatherInfo-description {
  font-size: 2em;
  margin-top: -2vh;
}

#weatherInfo-city {
  font-size: 3em;
  margin-bottom: -2vh;
}

#weatherInfo-temperature {
  font-size: 5em;
  color: white;
  margin-left: -0.5vw;
}
@media (max-width: 850px) {
  #weatherInfo-description,
  #weatherInfo-temperature,
  #weatherInfo-city {
    color: white;
    margin-left: 0;
  }
  #weatherInfo-city {
    padding-top: 2vh;
  }
}

#temperature {
  grid-row-start: 1;
  grid-column-start: 3;
  grid-column-end: 4;
  margin-top: 20%;
  margin-bottom: 20%;
  margin-right: 20%;
  text-align: center;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

@media (max-width: 850px) {
  #temperature {
    grid-column-start: 1;
    grid-row-start: 2;
    margin: 0;
    margin-top: 1vh;
  }
}

#searchBarContainer {
  height: 5vh;
  color: gold;
  text-align: left;
}

@media (max-width: 850px) {
  #searchBarContainer {
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
  }
}

#searchBarContainer input {
  width: 65%;
  height: 100%;
  background: transparent;
  border: none;
  border-bottom: 2px solid gold;
  color: gold;
  outline: none;
  font-size: 2em;
  text-align: left;
}

@media (max-width: 850px) {
  #searchBarContainer input {
    text-align: center;
  }
}

.dataDiv {
  display: grid;
  grid-template-columns: 1fr 0.5fr 2fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
}

@media (max-width: 850px) {
  .dataDiv {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

.icon {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 2;
  text-align: right;
  box-sizing: inherit;
  padding-right: 3vw;
}

@media (max-width: 850px) {
  .icon {
    grid-column-start: 1;
  }
}

.dataText {
  grid-row-start: 1;
  grid-column-start: 3;
  grid-column-end: 4;
  text-align: left;
  font-size: 1em;
}

@media (max-width: 850px) {
  .dataText {
    grid-column-start: 2;
    margin-bottom: -2vh;
  }
}

.dataNumbers {
  grid-row-start: 2;
  grid-column-start: 3;
  grid-column-end: 4;
  text-align: left;
  font-size: 1.2em;
}

@media (max-width: 850px) {
  .dataNumbers {
    grid-column-start: 2;
    margin-top: -2vh;
  }
}

.hidden {
  display: none;
}

#searchIcon {
  cursor: pointer;
  margin-top: 4vh;
}

@media (max-width: 850px) {
  #searchIcon {
    margin-top: 1vh;
  }
}
