body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.gameboard {
  text-align: center;
  display: grid;
  grid-template-columns: 20% 20% 20% 20%;
  grid-column-gap: 5%;
  grid-template-rows: 25% 25% 25%;
  grid-row-gap: 5%;
  width: 50%;
  height: 500px;
  margin: 0 auto;
}

.card {
  grid-column-start: auto;
  grid-row-start: auto;
  height: 100%;
}
