#grid-container {
    display: grid;
    position: relative;
    grid-gap: 20px;
    grid-template-columns: auto auto auto auto;
}

.card {
    height: 200px;
    width: 100%;
    display: inline-block;
    border: 1px solid black;
    border-radius: 25%;
    margin: auto;
    padding-top: 5%;
    text-align: center;
}