body {
    background: #85DCB0;
    font-family:'Courier New', Courier, monospace;
}

header {
    width: 100vw;
    height: 150px;
    background: #E27D60;
    text-align: center;
    line-height: 100px;
    position: absolute;
    left: 0;
    top: 0;
    border-bottom: 4px solid darkgrey;
}

h1 {
    text-transform: uppercase;
    font-family:'Courier New', Courier, monospace;
    font-size: 5rem;
    line-height: 100px;
    margin-top: 3%;
}

#container {
    text-align: center;
}

#grid-container {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 2%;
}

.card {
    height: 200px;
    width: 100%;
    padding-top: 5%;
    background: #C38D9E;
    font-size: 0;
    display: table; 
    text-align: center;
    box-shadow: 1px 2px 2px 2px black;
}

.cardTitle {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 20px;
    width: 100%;
}

.cardAuthor {
    font-size: 15px;
}

.cardPages {
    font-size: 15px;
}

.cardHaveRead {
    font-size: 10px;
}

form {
    width: 25%;
    max-width: 25%;
    background:  #E8A87C;
    padding: 20px;
    margin: 10px auto;
    box-shadow: 1px 2px 3px 3px rgb(70, 68, 68);
    text-align: left;
    padding-top: 40px;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 9;
}

.noDisplay {
    display: none;
}

input[type=text] {
    width: 80%;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 10px;
    height: 40px;
    border-bottom: 1px solid black;
    outline: none;
}

#newBookBtn {
    background: #41B3A3;
    width: 20%;
    border-radius: 10rem;
    height: 50px;
    outline: none;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 150px;
    box-shadow: 1px 1px 1px 1px black;
}

#newBookBtn:hover {
    background: rgb(65, 163, 187);
}

button {
    border: none;
    outline: none;
}

button:before {
    background-color: darken(#0cf, 15%);
}

#submitBtn {
    margin-top: 10px;
}

#readForm {
    text-align: center;
}

.readBtn {
    width: 100%;
    margin-top: 7%;
    background: lightgreen;
}

.readBtn:hover {
    background: darkgreen;
}

.deleteBtn {
    width: 100%;
    background: red;
}

.deleteBtn:hover {
    background: darkred;
}