body {
    margin: 0;
    background: black;
    color: white;
    font-family:'Courier New', Courier, monospace;
}

header {
    text-align: center;
    line-height: 100px;
    background: rgb(68, 68, 68);
    width: 100%;
    position: relative;
    top: 0;
    margin-bottom: 2%;
    height: 100%;
}

h1 {
    margin-top: 0;
}

#grid-container {
    display: grid;
    grid-template-columns: 20% 50% 20%;
    grid-template-rows: 60vh;
    grid-gap: 2%;
    margin: auto;
    text-align: center;
    margin-bottom: 2%;
    margin-left: 10%;
    margin-right: 5%;
}

#gameboard {
    margin: auto;
    width: 80%;
    height: 100%;
    box-shadow: 0 0 10px grey;
}

.square {
    height: 33.3%;
    width: 33.3%;
    text-align: center;
    font-size: 10vh;
    outline: 1px solid rgb(170, 255, 251);
    margin: auto;
    float: left;
    line-height: 20vh;
}

.square:hover {
    background: grey;
}

.player {
    font-size: 5vh;
    height: 5vh;
    text-align: center;
}

#p1trophy {
    display:none;
    color: blue;
    font-size: 20vh;
}

#p2trophy {
    display:none;
    color: blue;
    font-size: 20vh;
}

.currentPlayer {
    background: green;
}

.winner {
}

#buttonDiv {
    text-align: center;
}

#newGameButton {
    width: 20%;
    height: 40px;
    border-radius: 30px;
    border: none;
}

#newGameButton:focus {
    outline: none;
}

#newGameButton:hover {
    background: grey;
}