#gameboard {
    margin: auto;
    width: 300px;
    height: 300px;
}

.square {
    height: 100px;
    width: 100px;
    text-align: center;
    font-size: 90px;
    outline: 1px solid black;
    margin: auto;
    float: left;
}

.square:hover {
    background: grey;
}